body {
	background: rgb(56, 65, 67);
	color: white;
	font: 14px/1.2 'Inter', sans-serif;
}

a {
	color: white;

	&:hover {
		color: white;
		text-decoration: none;
	}

	&:visited {
		color: white;
	}
}